<nz-card class="card-list" nzTitle="企业客户列表">
  <div class="card-container">
    <nz-tabset
      [nzTabBarGutter]="2"
      [nzTabPosition]="'top'"
      [(nzSelectedIndex)]="tabIndex"
      nzType="card"
      (nzSelectedIndexChange)="search(true)">
      <nz-tab *ngFor="let title of tabTitle" [nzTitle]="title.dictLabel">
        <!--懒加载方式： 默认情况下，nz-tab 中的组件的 ngOnInit 会提前触发，如果希望当 Tab 被激活时再触发 ngOnInit，可以使用该示例中的懒加载方式。-->
        <ng-template nz-tab>
          <div class="tab-card-list">
            <!--搜索-->
            <div class="tab-card-list-action">
              <nz-input-group [nzSuffix]="etpCodeSuffixTemplate">
                <input type="text" nz-input [(ngModel)]="etpSearchVo.etpCode" placeholder="企业编号"/>
              </nz-input-group>
              <nz-input-group [nzSuffix]="fullNameSuffixTemplate">
                <input type="text" nz-input [(ngModel)]="etpSearchVo.etpName" placeholder="企业名称"/>
              </nz-input-group>
              <button nz-button nzType="primary" (click)="search(true)"><i nz-icon nzType="search"></i>查询</button>
              <button nz-button nzType="primary" (click)="addModalShow(1)"><i nz-icon nzType="plus"></i>新增</button>
              <!--核心企业才可删除-->
              <button nz-button nzType="primary" nzDanger *ngIf="title.dictValue === 2"><i nz-icon nzType="delete"></i>删除
              </button>
              <button nz-button nzType="primary" nzGhost><i nz-icon nzType="export" nzTheme="outline"></i>导出</button>
              <button nz-button nzType="dashed"><i nz-icon nzType="export" nzTheme="outline"></i>短信邀请注册</button>
            </div>
            <!--列表-->
            <div class="tab-card-list-table">
              <nz-table
                nzShowPagination
                nzShowSizeChanger
                nzBordered
                [nzFrontPagination]="false"
                [nzData]="listOfAllData"
                [nzLoading]="listLoading"
                [nzTotal]="total"
                [(nzPageIndex)]="pageIndex"
                [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="search()"
                (nzPageSizeChange)="search(true)"
                (nzCurrentPageDataChange)="currentPageDataChange($event)"
              >
                <thead>
                <tr>
                  <th
                    nzShowCheckbox
                    [(nzChecked)]="isAllDisplayDataChecked"
                    [nzIndeterminate]="isIndeterminate"
                    (nzCheckedChange)="checkAll($event)"
                  ></th>
                  <th nzWidth="8%" nzAlign="center">企业编号</th>
                  <th nzWidth="15%" nzAlign="center">企业名称</th>
                  <th nzWidth="10%" nzAlign="center">联系人</th>
                  <th nzWidth="10%" nzAlign="center">联系电话</th>
                  <th nzWidth="10%" nzAlign="center">状态</th>
                  <th nzWidth="15%" nzAlign="center">注册邀请</th>
                  <th nzWidth="6%" nzAlign="center">注册状态</th>
                  <th nzWidth="12%" nzAlign="center"
                      nzShowSort
                  >
                    创建时间
                  </th>
                  <th nzWidth="14%" nzAlign="center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of listOfAllData">
                  <td
                    nzShowCheckbox
                    [(nzChecked)]="mapOfCheckedId[data.id]"
                    [nzDisabled]="data.disabled"
                    (nzCheckedChange)="refreshStatus()"
                  ></td>
                  <td nzAlign="center">{{ data.etpCode }}</td>
                  <td nzAlign="center">{{ data.etpName }}</td>
                  <td nzAlign="center">{{ data.contactName }}</td>
                  <td nzAlign="center">{{ data.contactMobile }}</td>
                  <td nzAlign="center">
                    <nz-tag [nzColor]="themeHelper.setEtpStatusColor(data.etpStatus).background"
                            [style.color]="themeHelper.setEtpStatusColor(data.etpStatus).color">{{ data.etpStatusName}}</nz-tag>
                  </td>
                  <td nzAlign="center">{{ data.registerInvitationUrl}}</td>
                  <td nzAlign="center">{{ data.registerStatus}}</td>
                  <td nzAlign="center">{{ data.dateCreated }}</td>
                  <td nzAlign="center" [ngSwitch]="data?.etpStatus">
                    <div *ngSwitchCase="1">
                      <a (click)="verifyCheck(data.id)">审核</a>
                    </div>
                    <div *ngSwitchDefault>
                      <a>查看</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a (click)="addModalShow(2)">编辑</a>
                      <span *ngIf="title.dictValue === 2">
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="setEtpApiConf(data.id)">开放接口配置</a>
                      </span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </nz-table>
            </div>

            <ng-template #etpCodeSuffixTemplate
            ><i
              nz-icon
              nz-tooltip
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="etpSearchVo.etpCode"
              (click)="etpSearchVo.etpCode = null"
            ></i
            ></ng-template>
            <ng-template #fullNameSuffixTemplate
            ><i
              nz-icon
              nz-tooltip
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="etpSearchVo.etpName"
              (click)="etpSearchVo.etpName = null"
            ></i
            ></ng-template>
          </div>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</nz-card>

<!--新增、编辑-->
<nz-modal *ngIf="isShowAddOrEditModal"
          [(nzVisible)]="isShowAddOrEditModal"
          [nzWidth]="800"
          [nzMaskClosable]="false"
          [nzTitle]="modalType === 1 ? '新增' : '修改'"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk(modalType)"
          [nzOkLoading]="isModalOkLoading">

  <form nz-form [formGroup]="addOrEditForm" *nzModalContent>
    <!--公司全称-->
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel" nzFor="etpName" nzRequired>公司全称</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl" nzErrorTip="公司全称必填">
        <input nz-input id="etpName" formControlName="etpName" placeholder="公司全称"/>
      </nz-form-control>
    </nz-form-item>
    <!--统一社会信用代码-->
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel" nzFor="unifyCode" nzRequired>社会信用代码</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl" nzErrorTip="统一社会信用代码必填">
        <input nz-input id="unifyCode" formControlName="unifyCode" placeholder="统一社会信用代码"/>
      </nz-form-control>
    </nz-form-item>
    <!--原始编号-->
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel" nzFor="routerPath">原始编号</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl">
        <input nz-input id="oriCode" formControlName="oriCode" placeholder="原始编号"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel">公司简称</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl">
        <input nz-input id="shortName" formControlName="shortName" placeholder="公司简称"/>
      </nz-form-control>
    </nz-form-item>
    <!--公司电话-->
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel" nzRequired>公司电话</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl" nzErrorTip="公司电话必填">
        <input nz-input id="telephone" formControlName="telephone" placeholder="公司电话"/>
      </nz-form-control>
    </nz-form-item>
    <!--公司传真-->
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel">公司传真</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl">
        <input nz-input id="fax" formControlName="fax" placeholder="公司传真"/>
      </nz-form-control>
    </nz-form-item>
    <!--联系人-->
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel" nzRequired>联系人姓名</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl" nzErrorTip="联系人姓名必填">
        <input nz-input id="contactName" formControlName="contactName" placeholder="联系人姓名"/>
      </nz-form-control>
    </nz-form-item>
    <!--联系人手机号码-->
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel" nzFor="contactMobile" nzRequired>联系人手机号码</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl" nzErrorTip="联系人手机号码必填">
        <input nz-input id="contactMobile" formControlName="contactMobile" maxlength="11" placeholder="11位手机号码"/>
        <!--<nz-form-explain *ngIf="addOrEditForm.get('contactMobile')?.dirty && addOrEditForm.get('contactMobile')?.errors">请输入正确手机号码!
        </nz-form-explain>-->
      </nz-form-control>
    </nz-form-item>
    <!--联系人座机电话-->
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel">联系人电话</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl">
        <input nz-input id="contactPhone" formControlName="contactPhone" placeholder="联系人电话"/>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal *ngIf="isShowEtpApiSetModal"
          [(nzVisible)]="isShowEtpApiSetModal"
          [nzWidth]="800"
          [nzMaskClosable]="false"
          nzTitle="编辑"
          (nzOnCancel)="handleEtpApiModalCancel()"
          (nzOnOk)="handleEtpApiModalOk()"
          [nzOkLoading]="isEtpApiModalOkLoading">
  <form nz-form [formGroup]="etpApiSetForm" *nzModalContent>
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel" nzFor="apiUrl" nzRequired>ApiUrl</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl" nzErrorTip="必填项">
        <input nz-input id="apiUrl" formControlName="apiUrl" placeholder="请输入接口请求路径URL"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel" nzFor="accessKey" nzRequired>AccessKey</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl" nzErrorTip="必填项">
        <input nz-input id="accessKey" formControlName="accessKey" placeholder="请输入AccessKey"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel" nzFor="secretKey" nzRequired>SecretKey</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl" nzErrorTip="必填项">
        <input nz-input id="secretKey" formControlName="secretKey" placeholder="请输入SecretKey"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="spanLabel">备注</nz-form-label>
      <nz-form-control [nzSpan]="spanFormControl">
        <textarea formControlName="remark" nz-input rows="2" placeholder="备注,不超过255字"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
