<div class="app-aside" [style.background]="theme ? '#263238' : '#fff'">
  <div class="app-aside-list">
    <ul nz-menu [style]="theme ? {} : {'border-right-width': '1px', height: '100%'}" [nzInlineCollapsed]="collapsed"
        [nzTheme]="theme ? 'dark' : 'light'" nzMode="inline">
      <ng-container *ngFor="let menu of menus">
        <ng-container *ngIf="menu.children && menu.children.length > 0; else withoutChild">
          <li nz-submenu [(nzOpen)]="openMap[menu.title]" (nzOpenChange)="openHandler(menu.title)">
            <span title>
              <i nz-icon [nzType]="menu.icon"></i>
              <span>{{ menu.title }}</span>
            </span>

            <ul>
              <ng-container *ngFor="let child of menu.children">
                <ng-container *ngIf="child.children  && child.children.length > 0; else withoutSubChild">
                  <li nz-submenu [(nzOpen)]="openMap[child.title]">
                    <span title>
                      <i nz-icon [nzType]="child.icon"></i>
                      <span>{{ child.title }}</span>
                    </span>
                    <ul *ngFor="let subchild of child.children">
                      <li nz-menu-item [nzSelected]="path && path === subchild.link">
                        <a [routerLink]="subchild.link">
                          <span title>
                            <i nz-icon [nzType]="subchild.icon"></i>
                            <span>{{ subchild.title }}</span>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ng-container>

                <ng-template #withoutSubChild>
                  <li nz-menu-item [nzSelected]="path && path === child.link">
                    <a [routerLink]="child.link">
                      <i nz-icon [nzType]="child.icon"></i>
                      <span title>{{ child.title }}</span>
                    </a>
                  </li>
                </ng-template>
              </ng-container>
            </ul>
          </li>
        </ng-container>

        <!--没有子级菜单的处理-->
        <ng-template #withoutChild>
          <li nz-menu-item [nzSelected]="path && path === menu.link">
            <a [routerLink]="menu.link">
              <span title>
                <i nz-icon [nzType]="menu.icon"></i>
                <span>{{ menu.title }}</span>
              </span>
            </a>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </div>
</div>
