<nz-card class="card-list" nzTitle="产品详情" [nzExtra]="extraTemplate">
  <div class="card-container">
    <nz-tabset [nzTabBarGutter]="2"
               [(nzSelectedIndex)]="tabIndex"
               nzType="card"
               (nzSelectedIndexChange)="getTabContent(tabIndex)">
      <nz-tab *ngFor="let title of tabTitle" [nzTitle]="title">
        <ng-template nz-tab>
          <div *ngIf="title === tabTitle[0]">
            <!--产品信息-->
            <div class="info-line-title">
              <nz-divider nzType="vertical"></nz-divider>
              <span>产品信息</span>
            </div>
            <nz-descriptions nzBordered  [nzSize]="'small'">
              <nz-descriptions-item nzTitle="产品编号">{{productBasicInfo?.pdtCode}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="产品名称">{{productBasicInfo?.pdtName}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="产品状态">
                <nz-badge *ngIf="productBasicInfo?.pdtStatus === 0" nzStatus="default" [nzText]="productBasicInfo?.extra.pdtStatusName"></nz-badge>
                <nz-badge *ngIf="productBasicInfo?.pdtStatus === 1" nzStatus="processing" [nzText]="productBasicInfo?.extra.pdtStatusName"></nz-badge>
                <nz-badge *ngIf="productBasicInfo?.pdtStatus === 2" nzStatus="success" [nzText]="productBasicInfo?.extra.pdtStatusName"></nz-badge>
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="产品类别">{{productBasicInfo?.extra.pdtTypeName}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="产品说明">{{productBasicInfo?.pdtDesc}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="产品期数">{{productBasicInfo?.pdtPeriodsNum}}</nz-descriptions-item>
            </nz-descriptions>
            <!--相关企业-->
            <div class="info-line-title" style="margin-top: 30px;">
              <nz-divider nzType="vertical"></nz-divider>
              <span>相关企业信息</span>
            </div>
            <nz-descriptions nzBordered [nzSize]="'small'">
              <nz-descriptions-item nzTitle="保理商">{{productBasicInfo?.extra.factor}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="核心企业">{{productBasicInfo?.extra.core}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="SPV">{{productBasicInfo?.extra.spv}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="债务加入方">{{productBasicInfo?.extra.coreDebtor}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="律师事务所">{{productBasicInfo?.extra.law}}</nz-descriptions-item>
            </nz-descriptions>
            <!--额度信息-->
            <div class="info-line-title" style="margin-top: 30px;">
              <nz-divider nzType="vertical"></nz-divider>
              <span>额度信息</span>
            </div>
            <nz-descriptions nzBordered [nzSize]="'small'">
              <nz-descriptions-item nzTitle="融资总额度">{{productBasicInfo?.totalFinancingMoney | number: '1.2-2'}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="合同融资额度">{{productBasicInfo?.totalContractMoney | number: '1.2-2'}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="应收账款融资额度">{{productBasicInfo?.totalReceivableMoney | number: '1.2-2'}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="额度性质">{{productBasicInfo?.extra.pdtEdNatureName}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="额度期限">{{productBasicInfo?.pdtQuotaTimeLimit}}年</nz-descriptions-item>
            </nz-descriptions>
            <!--费用信息-->
            <div class="info-line-title" style="margin-top: 30px;">
              <nz-divider nzType="vertical"></nz-divider>
              <span>费用信息</span>
            </div>
            <nz-descriptions nzBordered [nzSize]="'small'">
              <nz-descriptions-item nzTitle="买入折扣">{{productBasicInfo?.buyDiscount}}%</nz-descriptions-item>
              <nz-descriptions-item nzTitle="卖出折扣">{{productBasicInfo?.selloutDiscount}}%</nz-descriptions-item>
              <nz-descriptions-item nzTitle="年化利率">{{productBasicInfo?.yearRate}}%</nz-descriptions-item>
              <nz-descriptions-item nzTitle="发行金额">{{productBasicInfo?.issuanceAmount | number: '1.2-2'}}亿</nz-descriptions-item>
              <nz-descriptions-item nzTitle="使用期限">{{productBasicInfo?.useTimeLimit}}月</nz-descriptions-item>
              <nz-descriptions-item nzTitle="宽限期限">{{productBasicInfo?.graceTimeLimit}}天</nz-descriptions-item>
            </nz-descriptions>
            <!--产品信息-->
            <div class="info-line-title">
              <nz-divider nzType="vertical"></nz-divider>
              <span>其它信息</span>
            </div>
            <nz-descriptions nzBordered [nzSize]="'small'">
              <nz-descriptions-item nzTitle="数据源">{{productBasicInfo?.extra.paymentBillDbSourceName}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="转让次数">{{productBasicInfo?.extra.paymentBillTransferNum}}</nz-descriptions-item>
            </nz-descriptions>

            <div class="pd-basic-action-btn">
              <button (click)="backToList()" nzGhost nz-button nzType="primary">返回列表</button>
            </div>
          </div>
          <div *ngIf="title === tabTitle[1]">
            <app-product-staging-list [productId]="productId" [showType]="2"></app-product-staging-list>
          </div>
          <div *ngIf="title === tabTitle[2]">
            <app-product-agreement-list
              [productId]="productId"
              [showType]="2"
            ></app-product-agreement-list>
          </div>
          <!--附件管理-->
          <div *ngIf="title === tabTitle[3]">
            <app-product-annex-list [productId]="productId" [showType]="showType"></app-product-annex-list>
          </div>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</nz-card>

<ng-template #extraTemplate>
  <span style="cursor: pointer;" (click)="backToList()">
    <i nz-icon nzType="rollback" nzTheme="outline"></i>
    <span style="margin-left: 5px;">返回列表</span>
  </span>
</ng-template>
