<nz-card class="card-list" [nzTitle]="productId === '0' ? '新增产品' : '编辑产品'"
         [nzExtra]=" tabIndex === 0 ? extraTemplate : null">
  <div class="card-container">
    <nz-tabset [nzTabBarGutter]="2"
               [(nzSelectedIndex)]="tabIndex"
               nzType="card"
               (nzSelectedIndexChange)="getContent(tabIndex)">
      <nz-tab *ngFor="let title of tabTitle, let i = index" [nzTitle]="title.name" [nzDisabled]="title.disable">
        <!--基础信息-->
        <div class="tab-content" *ngIf="i === 0">
          <form nz-form [formGroup]="ptBasicInfoForm">
            <div class="info-line-title">
              <nz-divider nzType="vertical"></nz-divider>
              <span>产品信息</span>
            </div>
            <div class="form-column">
              <div class="form-column-one">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptName" nzRequired>产品名称</nz-form-label>
                  <nz-form-control [nzSpan]="10" nzErrorTip="必填项">
                    <input formControlName="ptName" id="ptName" placeholder="请输入产品名称" nz-input/>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptCode">产品编号</nz-form-label>
                  <nz-form-control [nzSpan]="10">
                    <input formControlName="ptCode" id="ptCode" placeholder="请输入产品编号" nz-input/>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6">产品说明</nz-form-label>
                  <nz-form-control [nzSpan]="0">
                    <textarea formControlName="ptComment" id="ptComment" nz-input rows="2"
                              placeholder="请输入产品描述"></textarea>
                  </nz-form-control>
                </nz-form-item>
                <!--<nz-form-item>
                  <nz-form-label [nzSpan]="6">数据源</nz-form-label>
                  <nz-form-control [nzSpan]="0">
                    <nz-radio-group formControlName="pbDataSource" id="pbDataSource">
                      <label nz-radio nzValue="A">导入</label>
                      <label nz-radio nzValue="B">接口</label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>-->
              </div>
              <div class="form-column-two">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptStatus" nzRequired>产品状态</nz-form-label>
                  <nz-form-control [nzSpan]="6" nzErrorTip="必填项">
                    <nz-select id="ptStatus" formControlName="ptStatus" nzPlaceHolder="请选择">
                      <nz-option nzValue="'0'" nzLabel="未启用"></nz-option>
                      <nz-option nzValue="'1'" nzLabel="已上线/在线"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptType" nzRequired>产品类别</nz-form-label>
                  <nz-form-control [nzSpan]="6" nzErrorTip="必填项">
                    <nz-select id="ptType" formControlName="ptType" nzPlaceHolder="请选择">
                      <nz-option nzValue="'1'" nzLabel="ABS"></nz-option>
                      <nz-option nzValue="'2'" nzLabel="正向保理"></nz-option>
                      <nz-option nzValue="'3'" nzLabel="邮储再保理"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptPeriodsNum">产品期数</nz-form-label>
                  <nz-form-control [nzSpan]="6">
                    <input formControlName="ptPeriodsNum" id="ptPeriodsNum" placeholder="请输入产品期数" nz-input/>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div class="info-line-title">
              <nz-divider nzType="vertical"></nz-divider>
              <span>企业设置</span>
            </div>
            <div class="form-column">
              <div class="form-column-one">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptFactor" nzRequired>保理商</nz-form-label>
                  <nz-form-control [nzSpan]="10" nzErrorTip="必填项">
                    <nz-select id="ptFactor" formControlName="ptFactor" nzPlaceHolder="请选择">
                      <nz-option nzValue="'1'" nzLabel="燧石保理（深圳）有限公司"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptSPV">SPV</nz-form-label>
                  <nz-form-control [nzSpan]="10">
                    <nz-select name="ptSPV" formControlName="ptSPV">
                      <nz-option nzValue="'0'" nzLabel="请选择"></nz-option>
                      <nz-option nzValue="'1'" nzLabel="xxx证券"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="lawOffice">律师事务所</nz-form-label>
                  <nz-form-control [nzSpan]="10">
                    <nz-select name="lawOffice" formControlName="lawOffice">
                      <nz-option nzValue="'0'" nzLabel="请选择"></nz-option>
                      <nz-option nzValue="'1'" nzLabel="碧盛"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="form-column-two">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptCore">核心企业</nz-form-label>
                  <nz-form-control [nzSpan]="6">
                    <nz-select name="ptCore" formControlName="ptCore">
                      <nz-option nzValue="'0'" nzLabel="请选择"></nz-option>
                      <nz-option nzValue="'1'" nzLabel="碧桂园"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptCoreDebt">债务加入方</nz-form-label>
                  <nz-form-control [nzSpan]="6">
                    <nz-select name="ptCoreDebt" formControlName="ptCoreDebt">
                      <nz-option nzValue="'0'" nzLabel="请选择"></nz-option>
                      <nz-option nzValue="'1'" nzLabel="碧盛"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div class="info-line-title">
              <nz-divider nzType="vertical"></nz-divider>
              <span>额度信息</span>
            </div>
            <div class="form-column">
              <div class="form-column-one">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptQuota">融资总额度</nz-form-label>
                  <nz-form-control [nzSpan]="10">
                    <input formControlName="ptQuota" id="ptQuota" placeholder="请输入总额度" nz-input/>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptContractQuota">合同融资总额度</nz-form-label>
                  <nz-form-control [nzSpan]="10">
                    <input formControlName="ptContractQuota" id="ptContractQuota" placeholder="请输入合同总额度" nz-input/>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptQuotaNature">额度性质</nz-form-label>
                  <nz-form-control [nzSpan]="10">
                    <nz-select formControlName="ptQuotaNature">
                      <nz-option nzValue="'0'" nzLabel="请选择"></nz-option>
                      <nz-option nzValue="'1'" nzLabel="可循环"></nz-option>
                      <nz-option nzValue="'1'" nzLabel="不可循环"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="form-column-two">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptPaymentBillQuota">应收账款融资额度</nz-form-label>
                  <nz-form-control [nzSpan]="6">
                    <input formControlName="ptPaymentBillQuota" id="ptPaymentBillQuota" placeholder="请输入应收账款融资额度"
                           nz-input/>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptQuotaDeadline">额度期限</nz-form-label>
                  <nz-form-control [nzSpan]="6">
                    <nz-input-group nzSearch [nzSuffix]="suffixYear">
                      <input formControlName="ptQuotaDeadline" id="ptQuotaDeadline" placeholder="请输入融资期限" nz-input/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <!--费用信息-->
            <div class="info-line-title">
              <nz-divider nzType="vertical"></nz-divider>
              <span>费用信息</span>
            </div>
            <div class="form-column">
              <div class="form-column-one">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptBuyDiscount" required>买入折扣</nz-form-label>
                  <nz-form-control [nzSpan]="10">
                    <nz-input-group nzSearch [nzSuffix]="suffixRate">
                      <input formControlName="ptBuyDiscount" id="ptBuyDiscount" placeholder="请输入买入折扣，如：95" nz-input/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptYearRate">年化利率</nz-form-label>
                  <nz-form-control [nzSpan]="10">
                    <nz-input-group nzSearch [nzSuffix]="suffixRate">
                      <input formControlName="ptYearRate" id="ptYearRate" placeholder="" nz-input/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptCostPeriod">使用期限</nz-form-label>
                  <nz-form-control [nzSpan]="10">
                    <nz-input-group nzSearch [nzSuffix]="suffixMonth">
                      <input formControlName="ptCostPeriod" id="ptCostPeriod" placeholder="" nz-input/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="form-column-two">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptSellDiscount">卖出折扣</nz-form-label>
                  <nz-form-control [nzSpan]="6">
                    <nz-input-group nzSearch [nzSuffix]="suffixRate">
                      <input formControlName="ptSellDiscount" id="ptSellDiscount" placeholder="请输入卖出折扣，如：96" nz-input/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptIssuanceAmount">发行金额</nz-form-label>
                  <nz-form-control [nzSpan]="6">
                    <nz-input-group nzSearch [nzSuffix]="suffixPtIssuanceAmount">
                      <input formControlName="ptIssuanceAmount" id="ptIssuanceAmount" placeholder="" nz-input/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="ptGraceDeadline">宽限期限</nz-form-label>
                  <nz-form-control [nzSpan]="6">
                    <nz-input-group nzSearch [nzSuffix]="suffixDay">
                      <input formControlName="ptGraceDeadline" id="ptGraceDeadline" placeholder="" nz-input/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <!--其它-->
            <div class="info-line-title">
              <nz-divider nzType="vertical"></nz-divider>
              <span>其它信息</span>
            </div>
            <div class="form-column">
              <div class="form-column-one">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6">数据源</nz-form-label>
                  <nz-form-control [nzSpan]="0">
                    <nz-radio-group formControlName="pbDataSource" id="pbDataSource">
                      <label nz-radio nzValue="A">导入</label>
                      <label nz-radio nzValue="B">接口</label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="form-column-two">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6">转让次数</nz-form-label>
                  <nz-form-control [nzSpan]="0">
                    <nz-radio-group formControlName="pbDataSource" id="pbDataSource">
                      <label nz-radio nzValue="A">一次转让</label>
                      <label nz-radio nzValue="B">二次转让</label>
                      <label nz-radio nzValue="c">无</label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </div>
        <!--产品分期-->
        <div class="tab-content" *ngIf="i === 1">
          <app-product-staging-list></app-product-staging-list>
        </div>
        <!--协议模板-->
        <div class="tab-content" *ngIf="i === 2">
          <app-product-agreement-list></app-product-agreement-list>
        </div>
        <!--附件-->
        <div class="tab-content" *ngIf="i === 3">
          <app-product-annex-list></app-product-annex-list>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</nz-card>

<ng-template #extraTemplate>
  <button nz-button nzType="primary" nzSize="small" (click)="saveProductBasicInfo()"><i nz-icon nzType="save"
                                                                                        nzTheme="outline"></i>保存
  </button>
</ng-template>

<ng-template #suffixYear>
  <span>年</span>
</ng-template>

<ng-template #suffixMonth>
  <span>月</span>
</ng-template>

<ng-template #suffixDay>
  <span>天</span>
</ng-template>

<ng-template #suffixPtIssuanceAmount>
  <span>亿</span>
</ng-template>

<ng-template #suffixRate>
  <span>%</span>
</ng-template>
