.tab-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-line-title {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom-color: transparent;
  padding-left: 8px;

  &>span {
    font-size: 16px;
    //font-weight: bold
  }
}

.form-column {
  display: flex;

  &-one {
    flex: 0.4;
    flex-flow: column;
  }

  &-two {
    flex: 0.6;
    flex-flow: column;
  }
}

.pd-basic-action-btn {
  text-align: center;
  margin-top: 40px;
  width: 80%;

  &>button {
    margin-left: 12px;
  }
}

.input-suffix {
  color: rgba(0, 0, 0,.5);
}

