.verify-etp-layout {
  background: #f3f3f3;
  height: 100%;
  overflow: auto;

  &-header {
    background: #FFFFFF;
    height: 100px;
    width: 100%;
    text-align: left;
    padding-top: 20px;
    border-bottom: 1px solid #e6e6e6;

    &>img {
      width: 60px;
      height: 60px;
      margin-left: 20px;
    }

    &>nz-divider {
      height: 30px;
      margin-left: 20px;
      width: 1px;
      background: gray;
    }

    &>span {
      font-size: 22px;
      margin-left: 20px;
    }

    &>a {
      float: right;
      font-size: 16px;
      margin-top: 10px;
      margin-right: 20px;
    }
  }

  &-content {
    margin: 40px 18%;
    background: #FFFFFF;
    padding: 50px 30px 24px;

    &-steps {
      margin-top: 40px;
      min-height: 250px;

      >.steps-one {
      }

      >.steps-two {

        >.info-line-title {
          &>p {
            color: #bfbfbf;
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: -5px;
          }
        }

        >.business-license {
          margin-top: 30px;
          margin-bottom: 20px;
        }

        >.idcard {
          margin-top: 30px;
          margin-bottom: 20px;
        }
      }
    }

    >.steps-action {
      text-align: center;
      margin-top: 40px;
    }
  }
}

.steps-one-form {
  padding-top: 30px;
  margin-left: 10%;
  margin-right: 30%;
}

i[nz-icon] {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}

