<nz-card class="card-list" [nzTitle]="cardTitle" [nzExtra]="extraTemplate">
  <!--模板基础信息-->
  <div class="basic-content" [ngStyle]="notEditStyle(true)">
    <form nz-form [formGroup]="templateForm" [ngStyle]="notEditStyle()">
      <div class="form-content">
        <div class="form-column-one">
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan" nzFor="agrTypeBigId" nzRequired>合同大类</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan" nzErrorTip="必填项">
              <nz-select formControlName="agrTypeBigId" (ngModelChange)="agrTypeBigSelect($event)" nzPlaceHolder="请选择">
                <nz-option *ngFor="let agrTypeBig of agrTypeBigListAll" [nzValue]="agrTypeBig.id"
                           [nzLabel]="agrTypeBig.bigName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan" nzFor="agrName" nzRequired>合同名称</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan" nzErrorTip="必填项">
              <input nz-input formControlName="agrName" placeholder="请输入"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="form-column-two">
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan" nzFor="agrTypeId" nzRequired>合同类型</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan" nzErrorTip="必填项">
              <nz-select id="agrTypeId" formControlName="agrTypeId" (ngModelChange)="agrTypeSelect($event)"
                         nzPlaceHolder="请选择">
                <nz-option *ngFor="let agrType of agrTypeListAll" [nzValue]="agrType.id"
                           [nzLabel]="agrType.typeName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan" nzFor="agrVersion" nzRequired>版本号</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan" nzErrorTip="必填项">
              <input nz-input formControlName="agrVersion" placeholder="请输入"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="form-column-third">
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan" nzFor="agrTypeSpecifyId" nzRequired>合同版别</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan" nzErrorTip="必填项">
              <nz-select id="agrTypeSpecifyId" formControlName="agrTypeSpecifyId" nzPlaceHolder="请选择">
                <nz-option *ngFor="let specify of agrSpecifyListAll" [nzValue]="specify.id"
                           [nzLabel]="specify.specifyName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan">强制阅读时间</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan">
              <input nz-input formControlName="agrTextReadTimeLimit" placeholder="请输入"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="template-comment">
        <nz-form-item>
          <nz-form-label [nzSpan]="2" nzFor="remark">备注</nz-form-label>
          <nz-form-control [nzSpan]="19">
            <textarea formControlName="remark" id="remark" nz-input rows="3" placeholder="请输入协议备注"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
  <div style="border-bottom: 2px dashed #dbd9d9;padding-top: 20px;"></div>
  <!--协议文本内容等设置-->
  <div class="agr-content-layout">
    <div class="agr-content-layout-left">
      <div class="left-top">
        <nz-upload class="upload-word"
                   [nzAction]="uploadFileUrl"
                   (nzChange)="uploadFileHandleChange($event, true)"
                   [nzLimit]="1"
                   [nzShowUploadList]="false"
                   [nzBeforeUpload]="beforeUpload()"
        >
          <button nz-button nzType="primary" nzSize="default">
            <i nz-icon [nzType]="uploadIcon"></i>
            Word模板导入
          </button>
        </nz-upload>
        <a *ngIf="wordTemplateFileInfo" nz-button nzType="text" target="_blank" [href]="wordTemplateFileInfo.url">（{{wordTemplateFileInfo.oriName}}）</a>
        <button nz-button nzType="primary" nzSize="default">Pdf预览</button>
      </div>
      <div class="left-bottom">
        <!--        <pdf-viewer class="pdf-viewer" [src]="pdfSrc" [fit-to-page]="true" [autoresize]="true"></pdf-viewer>-->
        <ng2-pdfjs-viewer #bigPdfViewer [pdfSrc]="pdfSrc" downloadFileName="mySample" zoom="auto"
                          viewerId="MyID"></ng2-pdfjs-viewer>
      </div>
    </div>
    <div class="agr-content-layout-right">
      <div class="right-top">
        <p class="text-theme-color">模板参数</p>
      </div>
      <div class="right-bottom">
        <div class="template-par">
          <input type="text" nz-input placeholder="请输入关键字" [(ngModel)]="parSearchKey"/>
          <div class="par-content">
            <nz-tree
              [nzData]="parData"
              [nzSearchValue]="parSearchKey"
              nzCheckable
              multiple
              [nzHideUnMatched]="true"
              [nzCheckedKeys]="parCheckedKeys"
              (nzCheckBoxChange)="parCheckHandler($event)"
            >
            </nz-tree>
          </div>
        </div>
        <div class="template-sign-role">
          <p class="text-theme-color">签章设置</p>
          <div class="sign-role-content" [ngStyle]="notEditStyle(true)">
            <table border="1px" bordercolor="#dbd9d9" width="100%" [ngStyle]="notEditStyle()">
              <tr *ngFor="let sign of roleSignSetting">
                <th><label nz-checkbox [(ngModel)]="sign.signFlag">{{sign.roleName}}</label></th>
                <!--没选定角色可以盖章时，td顶层出现不允许图标-->
                <td [ngStyle]="sign.signFlag ? {} : {cursor: 'not-allowed'}">
                  <!--没选定角色可以盖章时，div层禁止所有事件，即不可编辑-->
                  <div [ngStyle]="sign.signFlag ? {} : {'pointer-events': 'none'}">
                    <p>关键字：</p>
                    <input (keyup)="keywordChange(sign.key)" nzSize="small" style="width: 170px;font-size: 12px; padding: 2px" type="text" nz-input
                           placeholder="请输入" [(ngModel)]="sign.key"/>
                    <span style="margin-left: 10px"><i nz-tooltip [nzTooltipTitle]="signTipText"
                                                       nzTooltipColor="#b4b4b4" nz-icon nzType="question-circle"
                                                       nzTheme="outline"></i></span>
                  </div>
                  <div [ngStyle]="sign.signFlag ? {} : {'pointer-events': 'none'}">
                    <p>坐标：</p>
                    <div>
                      <nz-input-group nzSearch [nzSuffix]="suffixX" style="width: 80px; height: 24px; margin-top: 4px">
                        <input [(ngModel)]="sign.signXY.x" style="font-size: 12px;" nzSize="small" placeholder=""
                               nz-input/>
                      </nz-input-group>
                      <nz-input-group nzSearch [nzSuffix]="suffixY"
                                      style="width: 80px; height: 24px; margin-left: 10px;">
                        <input [(ngModel)]="sign.signXY.y" style="font-size: 10px;" nzSize="small" placeholder=""
                               nz-input/>
                      </nz-input-group>
                    </div>
                  </div>
                  <div [ngStyle]="sign.signFlag ? {} : {'pointer-events': 'none'}">
                    <p>排序：</p>
                    <nz-input-number style="margin-bottom: 10px;width: 80px" [(ngModel)]="sign.signSort" nzSize="small"
                                     [nzMin]="1"
                                     [nzMax]="6" [nzStep]="1"></nz-input-number>
                    <span style="margin-left: 10px"><i nz-tooltip [nzTooltipTitle]="'角色盖章顺序设置，数值越大的越后盖章，数值相同则角色盖章不分顺序。'"
                                                       nzTooltipColor="#b4b4b4" nz-icon nzType="question-circle"
                                                       nzTheme="outline"></i></span>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--审核-->
  <div class="agr-check-layout" *ngIf="showType === 4">
    <div>
      <div>
        <label class="check-label">审核结果：</label>
        <nz-radio-group [(ngModel)]="checkStatus">
          <label nz-radio nzValue="1">同意</label>
          <label nz-radio nzValue="0">拒绝</label>
        </nz-radio-group>
      </div>
      <div style="margin-top: 60px; display: flex">
        <div style="float: left; margin-top: 5px;"><label class="check-label">审核意见：</label></div>
        <textarea
          style="width: 600px; float: left"
          nz-input
          placeholder="请输入审批意见"
          [nzAutosize]="{ minRows: 2, maxRows: 4 }"
        ></textarea>

      </div>
    </div>
  </div>

  <!--按钮-->
  <div class="btn-action">
    <div class="template-btn-action" *ngIf="showType === 1">
      <button nz-button nzType="primary" nzSize="default" (click)="add()">保存为草稿</button>
      <button nz-button nzType="primary" nzSize="default" style="margin-left: 20px;">提交</button>
    </div>
    <div class="template-btn-action" *ngIf="showType === 2">
      <button nz-button nzType="primary" nzSize="default">提交</button>
    </div>
    <div class="template-btn-action" *ngIf="showType === 4">
      <button nz-button nzType="primary" nzSize="default">审核提交</button>
    </div>
    <div class="btn-action-back">
      <button nz-button nzGhost nzType="primary" nzSize="default" (click)="backToList()">返回列表</button>
    </div>
  </div>
</nz-card>

<ng-template #extraTemplate>
  <span style="cursor: pointer;" (click)="backToList()">
    <i nz-icon nzType="rollback" nzTheme="outline"></i>
    <span style="margin-left: 5px;">返回列表</span>
  </span>
</ng-template>

<ng-template #suffixX>
  <span>x</span>
</ng-template>

<ng-template #suffixY>
  <span>y</span>
</ng-template>


