<div class="info-line-title">
  <nz-divider nzType="vertical"></nz-divider>
  <span>产品分期信息</span>
  <button *ngIf="showType === 1" (click)="add()"
          nz-button nzType="primary"
          nzSize="default" style="margin-left: 20px;"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>新增分期
  </button>
</div>
<nz-table
  nzBordered
  [nzFrontPagination]="true"
  [nzData]="listOfAllData"
  [nzLoading]="listLoading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize">
  <thead>
  <tr>
    <th nzWidth="5%" nzAlign="center">序号</th>
    <th nzWidth="17%" nzAlign="center">分期名称</th>
    <th nzWidth="8%" nzAlign="center">买入折扣</th>
    <th nzWidth="8%" nzAlign="center">卖出折扣</th>
    <th nzWidth="10%" nzAlign="center">设立日期</th>
    <th nzWidth="10%" nzAlign="center">到期日</th>
    <th nzWidth="12%" nzAlign="center">分期状态</th>
    <th nzWidth="10%" nzAlign="center" nzShowSort>创建时间</th>
    <th nzWidth="10%" nzAlign="center">创建人</th>
    <th nzWidth="10%" nzAlign="center">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listOfAllData; let i = index;">
    <td nzAlign="center">{{i + 1}}</td>
    <td nzAlign="center">{{data.pdtStagingName}}</td>
    <td nzAlign="center" appTextColorTheme>
      {{data.buyDiscount}}%
    </td>
    <td nzAlign="center">{{data.selloutDiscount}}%</td>
    <td nzAlign="center">{{data.foundDate | date: "yyyy-MM-dd"}}</td>
    <td nzAlign="center">{{data.expiryDate | date: "yyyy-MM-dd"}}</td>
    <td nzAlign="center">
      <nz-tag [nzColor]="themeHelper.setCommonStatusColor(data.pdtStatus).background"
              [style.color]="themeHelper.setCommonStatusColor(data.pdtStatus).color"
      >
        {{data.extra.pdtStagingStatusName}}
      </nz-tag>
    </td>
    <td nzAlign="center">{{ data.dateCreated}}</td>
    <td nzAlign="center">{{ data.creator}}</td>
    <td nzAlign="center">
      <div *ngIf="showType === 1">
        <a (click)="edit(data.id)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="delProductStaging(data.id)">删除</a>
      </div>
      <div *ngIf="showType === 2">
        <a (click)="edit(data.id)">查看</a>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>

<!--新增、编辑-->
<nz-modal *ngIf="isShowAddOrEditModal"
          [(nzVisible)]="isShowAddOrEditModal"
          [nzWidth]="680"
          [nzMaskClosable]="false"
          [nzTitle]="showType === 1 ? modalType === 1 ? '新增' : '修改' : '分期详情'"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk(modalType)"
          [nzOkLoading]="isModalOkLoading"
          [nzCancelText]="showType === 1 ? '取消': null"
          [nzOkText]="showType === 1 ? '确定': null"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="addOrEditForm" [ngStyle]="notEditStyle(true)">
      <div class="form-content" [ngStyle]="notEditStyle()">
        <div class="form-column-left">
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan" nzFor="pdtStagingName" nzRequired>分期名称</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan" nzErrorTip="必填项">
              <input formControlName="pdtStagingName" id="pdtStagingName" placeholder="请输入分期名称" nz-input/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan" nzFor="buyDiscount" nzRequired>买入折扣</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan" nzErrorTip="必填项">
              <nz-input-group nzSearch [nzSuffix]="suffixRate">
                <input formControlName="buyDiscount" id="buyDiscount" placeholder="请输入买入折扣" nz-input/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan" nzFor="foundDate">设立日期</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan">
              <nz-date-picker style="width: 100%" id="foundDate" formControlName="foundDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="form-column-right">
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan" nzFor="pdtStagingStatus" nzRequired>分期状态</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan" nzErrorTip="必填项">
              <nz-select nzAllowClear id="pdtStagingStatus" formControlName="pdtStagingStatus" nzPlaceHolder="请选择">
                <nz-option *ngFor="let status of pdtStagingStatuses" [nzValue]="status.dictValue" [nzLabel]="status.dictLabel"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan" nzFor="selloutDiscount">卖出折扣</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan">
              <nz-input-group nzSearch [nzSuffix]="suffixRate">
                <input formControlName="selloutDiscount" id="selloutDiscount" placeholder="请输入卖出折扣" nz-input/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="formLabelSpan" nzFor="expiryDate">到期日</nz-form-label>
            <nz-form-control [nzSpan]="formControlSpan">
              <nz-date-picker style="width: 100%" id="expiryDate" formControlName="expiryDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="stg-comment" [ngStyle]="notEditStyle()">
        <nz-form-item>
          <nz-form-label [nzSpan]="0" nzFor="pdtStagingDesc">分期说明</nz-form-label>
          <nz-form-control [nzSpan]="19">
            <textarea formControlName="pdtStagingDesc" id="pdtStagingDesc" nz-input rows="3" placeholder="请输入产品分期说明"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </ng-container>
</nz-modal>

<ng-template #suffixRate>
  <span>%</span>
</ng-template>
