<div class="register">
  <div class="register-top">
    <img src="assets/images/logo02.png"/>
    <span>{{appName}}</span>
  </div>
    <div class="register-step">
      <nz-steps [nzCurrent]="current">
        <nz-step nzTitle="邀请码验证"></nz-step>
        <nz-step nzTitle="填写注册信息"></nz-step>
        <nz-step nzTitle="注册成功"></nz-step>
      </nz-steps>
      <div class="steps-content">
        <div class="content-first">
          <label class="content-first-label"><span class="star">* </span>邀请码：</label>
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input class="code" type="text" nz-input [(ngModel)]="inputValue" placeholder="邀请码" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i
              nz-icon
              nz-tooltip
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="inputValue"
              (click)="inputValue = null"
            ></i>
          </ng-template>
        </div>
      </div>
      <div class="steps-action">
        <button class="pre-btn" nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
          <span>上一步</span>
        </button>
        <button class="next-btn" nz-button nzType="default" (click)="next()" *ngIf="current < 2">
          <span>下一步</span>
        </button>
        <button class="done-btn" nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
          <span>完成</span>
        </button>
      </div>
      <p>已有账号？<a routerLink="/login">马上登录</a></p>
    </div>
</div>
