<form nz-form [formGroup]="searchFormGroup" class="search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="rowItem" [nzOrder]="1">
      <nz-form-item>
        <nz-form-label nzFor="paymentBillNo">付款单号</nz-form-label>
        <nz-form-control [nzSpan]="0">
          <input id="paymentBillNo" formControlName="paymentBillNo" nz-input placeholder="请输入付款单号"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="rowItem" [nzOrder]="2">
      <nz-form-item>
        <nz-form-label nzFor="fbNo">融资单号</nz-form-label>
        <nz-form-control [nzSpan]="0">
          <input id="fbNo" formControlName="fbNo" nz-input placeholder="请输入融资单号"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="rowItem" [nzOrder]="6">
      <nz-form-item>
        <nz-form-label nzFor="fbStatus">融资单状态</nz-form-label>
        <nz-form-control [nzSpan]="0">
          <nz-select id="fbStatus" formControlName="fbStatus">
            <nz-option nzValue="'0'" nzLabel="全部"></nz-option>
            <nz-option nzValue="'1'" nzLabel="待审核"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="rowItem" [nzOrder]="4">
      <nz-form-item>
        <nz-form-label nzFor="supplierName">供应商</nz-form-label>
        <nz-form-control [nzSpan]="0">
          <input id="supplierName" formControlName="supplierName" nz-input placeholder="请输入供应商名称"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="rowItem" [nzOrder]="3">
      <nz-form-item>
        <nz-form-label nzFor="stagingName">分期名称</nz-form-label>
        <nz-form-control [nzSpan]="0">
          <nz-select id="stagingName" formControlName="stagingName">
            <nz-option nzValue="'0'" nzLabel="请选择"></nz-option>
            <nz-option nzValue="'1'" nzLabel="招商融创-2"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!--以下搜索条件初始隐藏-->
    <div nz-col [nzSpan]="rowItem" [nzOrder]="6" [hidden]="isCollapse">
      <nz-form-item>
        <nz-form-label nzFor="fbType">融资类型</nz-form-label>
        <nz-form-control [nzSpan]="0">
          <nz-select id="fbType" formControlName="fbType">
            <nz-option nzValue="'0'" nzLabel="全部"></nz-option>
            <nz-option nzValue="'1'" nzLabel="一次转让"></nz-option>
            <nz-option nzValue="'2'" nzLabel="二次转让"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="rowItem" [nzOrder]="6" [hidden]="isCollapse">
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="fbAmount">融资金额</nz-form-label>
            <nz-form-control [nzSpan]="0">
              <input id="fbAmount" formControlName="fbAmount" nz-input placeholder=""/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-control [nzSpan]="0">
              <input id="fbAmountEnd" formControlName="fbAmountEnd" nz-input placeholder=""/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <!--搜索操作按钮-->
    <div nz-col [nzSpan]="rowItem" [nzOrder]="20" class="search-area">
      <button nz-button [nzType]="'primary'">搜索</button>
      <button nz-button (click)="resetForm()" style="margin-left: 8px">重置</button>
      <a class="collapse" (click)="toggleCollapse()">
        {{isCollapse ? '展开' : '收起'}}
        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
      </a>
    </div>
  </div>
</form>
