<nz-card class="card-list" nzTitle="签章状态列表">
  <div class="card-list-action">
    <app-sign-list-search-single *ngIf="financingModel === financingModelEnum.FINANCING_SINGLE"></app-sign-list-search-single>
    <app-sign-list-search-multiple *ngIf="financingModel === financingModelEnum.FINANCING_MULTIPLE"></app-sign-list-search-multiple>
  </div>
  <div class="card-list-table">
    <app-sign-list-single *ngIf="financingModel === financingModelEnum.FINANCING_SINGLE" [signStatus]=""></app-sign-list-single>
    <app-sign-list-multiple *ngIf="financingModel === financingModelEnum.FINANCING_MULTIPLE" [signStatus]=""></app-sign-list-multiple>
  </div>
</nz-card>
