<nz-transfer
  [nzDataSource]="listAnnexTransferData"
  [nzDisabled]="false"
  [nzShowSearch]="true"
  [nzShowSelectAll]="false"
  [nzOperations]="['选定附件类型', '移出附件类型']"
  [nzTitles]="['未选列表', '已选列表']"
  [nzRenderList]="[renderList, renderList]"
  (nzSelectChange)="annexSelect($event)"
  (nzChange)="annexChange($event)"
  [nzTargetKeys]="targetKes"
>
</nz-transfer>
<ng-template
  #renderList
  let-items
  let-direction="direction"
  let-stat="stat"
  let-disabled="disabled"
  let-onItemSelectAll="onItemSelectAll"
  let-onItemSelect="onItemSelect"
>
  <nz-table  #t [nzData]="$asTransferItems(items)" nzBordered nzSize="default"
             [nzScroll]="direction === 'right' ? {x: '1100px', y: '400px'} : {y: '400px'}"
             [ngStyle]="showType === 1 ? uiHelper.notEditStyle(false) : uiHelper.notEditStyle(true, true)"
  >
    <thead>
    <tr [ngStyle]="showType === 1 ? uiHelper.notEditStyle(false) : uiHelper.notEditStyle(true)">
      <th nzWidth="40px"
        nzAlign="center"
          [nzDisabled]="disabled"
          [nzChecked]="stat.checkAll"
          [nzIndeterminate]="stat.checkHalf"
          (nzCheckedChange)="onItemSelectAll($event)"
      ></th>
      <th nzWidth="60px" nzAlign="center" *ngIf="direction === 'left'">序号</th>
      <th nzWidth="200px" nzAlign="left" *ngIf="direction === 'left'">附件类型</th>

     <!-- <th nzWidth="10%" nzAlign="center" *ngIf="direction === 'right'">序号</th>
      <th nzWidth="30%" nzAlign="center" *ngIf="direction === 'right'">附件类型</th>
      <th nzWidth="20%" nzAlign="center" *ngIf="direction === 'right'">上传角色</th>
      <th nzWidth="20%" nzAlign="center" *ngIf="direction === 'right'">签章角色</th>
      <th nzWidth="10%" nzAlign="center" *ngIf="direction === 'right'">必传</th>
      <th nzWidth="10%" nzAlign="center" *ngIf="direction === 'right'">排序</th>-->

      <th nzWidth="60px" nzAlign="center" *ngIf="direction === 'right'">序号</th>
      <th nzWidth="220px" nzAlign="center" *ngIf="direction === 'right'">附件类型</th>
      <th nzWidth="250px" nzAlign="center" *ngIf="direction === 'right'">上传角色</th>
      <th nzWidth="250px" nzAlign="center" *ngIf="direction === 'right'">签章角色</th>
      <th nzWidth="80px" nzAlign="center" *ngIf="direction === 'right'">必传</th>
      <th nzWidth="100px" nzAlign="center" *ngIf="direction === 'right'">排序</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of t.data" (click)="onItemSelect(data)"
        [ngStyle]="showType === 1 ? uiHelper.notEditStyle(false) : uiHelper.notEditStyle(true)">
      <td nzAlign="center"
          [nzChecked]="data.checked"
          [nzDisabled]="disabled || data.disabled"
          (nzCheckedChange)="onItemSelect(data)"
      >
      </td>
      <!--      <td nzAlign="center">{{ (annexPageIndex - 1) * annexPageSize + i + 1 }}</td>-->
      <td nzAlign="center">{{data.index}}</td>
      <td [nzAlign]="direction === 'left' ? 'left' : 'center'">{{data.annexTypeName}}</td>
      <td nzAlign="left" *ngIf="direction === 'right'">
        <!--<nz-checkbox-group [(ngModel)]="data.etpRolesUpload"></nz-checkbox-group>-->
        <nz-checkbox-wrapper style="width: 100%;">
          <div nz-row>
            <div *ngFor="let etp of data.etpRolesUpload" nz-col nzSpan="12">
              <label nz-checkbox [nzValue]="etp.value" [(ngModel)]="etp.checked">{{etp.label}}</label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </td>
      <td nzAlign="left" *ngIf="direction === 'right'">
<!--        <nz-checkbox-group [(ngModel)]="data.etpRolesSing"></nz-checkbox-group>-->
        <nz-checkbox-wrapper style="width: 100%;">
          <div nz-row>
            <div *ngFor="let etp of data.etpRolesSign" nz-col nzSpan="12">
              <label nz-checkbox [nzValue]="etp.value" [(ngModel)]="etp.checked">{{etp.label}}</label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </td>
      <td nzAlign="center" *ngIf="direction === 'right'">
        <nz-radio-group [(ngModel)]="data.uploadStatus">
          <label nz-radio [nzValue]="true">是</label>
          <label nz-radio [nzValue]="false">否</label>
        </nz-radio-group>
      </td>
      <td nzAlign="center" *ngIf="direction === 'right'">
        <nz-input-number class="list-input-number" nzSize="small"
                         [(ngModel)]="data.productAnnexSort"
                         [nzMin]="1" [nzMax]="10"
                         [nzStep]="1"
        >
        </nz-input-number>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>
