<nz-transfer
  [nzDataSource]="listAnnexTransferData"
  [nzDisabled]="false"
  [nzShowSearch]="false"
  [nzShowSelectAll]="false"
  [nzOperations]="['选定附件类型', '移出附件类型']"
  [nzTitles]="['未选列表', '已选列表']"
  [nzRenderList]="[renderList, renderList]"
  (nzSelectChange)="annexSelect($event)"
  (nzChange)="annexChange($event)"
>
</nz-transfer>
<ng-template
  #renderList
  let-items
  let-direction="direction"
  let-stat="stat"
  let-disabled="disabled"
  let-onItemSelectAll="onItemSelectAll"
  let-onItemSelect="onItemSelect"
>
  <nz-table  #t [nzData]="items" nzBordered
             [style]="direction === 'left' ? 'width: 400px;' : 'width: 800px'">
    <thead>
    <tr>
      <th nzAlign="left"
          [nzDisabled]="disabled"
          [nzChecked]="stat.checkAll"
          [nzIndeterminate]="stat.checkHalf"
          (nzCheckedChange)="onItemSelectAll($event)"
      ></th>
      <th nzWidth="20%" nzAlign="left" *ngIf="direction === 'left'">序号</th>
      <th nzWidth="80%" nzAlign="left" *ngIf="direction === 'left'">附件类型</th>

      <th nzWidth="10%" nzAlign="left" *ngIf="direction === 'right'">序号</th>
      <th nzWidth="20%" nzAlign="left" *ngIf="direction === 'right'">附件类型</th>
      <th nzWidth="20%" nzAlign="left" *ngIf="direction === 'right'">上传角色</th>
      <th nzWidth="20%" nzAlign="left" *ngIf="direction === 'right'">签章角色</th>
      <th nzWidth="10%" nzAlign="left" *ngIf="direction === 'right'">必传</th>
      <th nzWidth="10%" nzAlign="left" *ngIf="direction === 'right'">分组</th>
      <th nzWidth="10%" nzAlign="left" *ngIf="direction === 'right'">排序</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of t.data, let i = index" (click)="onItemSelect(data)">
      <td nzAlign="left" [nzChecked]="data.checked" [nzDisabled]="disabled || data.disabled" (nzCheckedChange)="onItemSelect(data)"></td>
      <!--      <td nzAlign="left">{{ (annexPageIndex - 1) * annexPageSize + i + 1 }}</td>-->
      <td nzAlign="left">{{ data.index }}</td>
      <td nzAlign="left">工程进度款申请支付表-{{data.title}}</td>
      <td nzAlign="left" *ngIf="direction === 'right'">
        <nz-checkbox-group [(ngModel)]="checkOptionsOne"></nz-checkbox-group>
      </td>
      <td nzAlign="left" *ngIf="direction === 'right'">
        <nz-checkbox-group [(ngModel)]="checkOptionsOne"></nz-checkbox-group>
      </td>
      <td nzAlign="left" *ngIf="direction === 'right'">
        <nz-radio-group [ngModel]="'Y'" disabled>
          <label nz-radio nzValue="Y">是</label>
          <label nz-radio nzValue="N">否</label>
        </nz-radio-group>
      </td>
      <td nzAlign="left" *ngIf="direction === 'right'">2</td>
      <td nzAlign="left" *ngIf="direction === 'right'">1</td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>
