<div *ngIf="showStatus === 0" class="verify">
  <div class="verify-etp">
    <nz-card *ngIf="etpStatus !== 3" nzTitle="企业认证" [nzBordered]="false" [nzExtra]="extraTemplate">
      <div class="verify-etp-content">
        <img src="assets/images/verify-etp-orange.png" alt="" style="width:27px;">
        <h2>认证状态</h2>
        <a>认证通过</a>
      </div>
    </nz-card>
    <ng-template #extraTemplate>
      <a (click)="goToVerify(1)">去认证</a>
    </ng-template>
  </div>

  <div *ngIf="etpStatus === 3 && userStatus !==3" class="verify-personal">
    <nz-card nzTitle="经纪人认证" [nzExtra]="extraTemplate">
      <div class="verify-personal-content">
        <img src="assets/images/verify-etp-orange.png" alt="" style="width:27px;">
        <h2>认证状态</h2>
        <a>认证通过</a>
      </div>
    </nz-card>
    <ng-template #extraTemplate>
      <a (click)="goToVerify(2)">去认证</a>
    </ng-template>
  </div>
</div>

<app-verify-etp *ngIf="showStatus === 1"></app-verify-etp>

<app-verify-personal *ngIf="showStatus === 2"></app-verify-personal>
