@card-width: 400px;
@card-height: 300px;

.verify {
  background: #ECECEC;
  width: 100%;
  height: 100%;

  &>div>nz-card {
    width: @card-width;
    height: @card-height;
  }

  &-etp {
    position: absolute;
    top: 25%;
    left: 38%;

    &-content {
      text-align: center;
      margin-top: 50px;
    }
  }

  &-personal {
    position: absolute;
    top: 25%;
    left: 38%;

    &-content {
      text-align: center;
      margin-top: 50px;
    }
  }
}
