<div class="default-layout" [class.aside-collapsed]="collapsed">
  <app-header (toggleCollapsed)="onToggleCollapsed($event)"
              (currentTheme)="setCurrentTheme($event)"
              (asideTheme)="setAsideTheme($event)"
              (onRefreshUrl)="onRefreshUrl($event)"
  >
  </app-header>
  <app-body [collapsed]="collapsed" (tabMenu)="clickTab($event)">
    <router-outlet></router-outlet>
  </app-body>
  <app-aside [collapsed]="collapsed"></app-aside>
  <!--  <app-footer></app-footer>-->
</div>
<!--预先引入初始化，否则后面使用无效。或者在具体使用它的模块页面引入。-->
<app-custom-loading></app-custom-loading>
<app-custom-pdf-show></app-custom-pdf-show>
