<div class="payment-bill-invoice">
  <nz-table
    nzBordered
    [nzShowPagination]="false"
    [nzData]="listOfAllData"
    [nzLoading]="listLoading"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize">
    <thead>
    <tr>
      <th nzLeft nzWidth="5%" nzAlign="center">序号</th>
      <th nzWidth="7%" nzAlign="center">发票代码</th>
      <th nzWidth="7%" nzAlign="center">发票号码</th>
      <th nzWidth="10%" nzAlign="center">发票名称</th>
      <th nzWidth="10%" nzAlign="center">含税发票金额</th>
      <th nzWidth="10%" nzAlign="center">未税发票金额</th>
      <th nzWidth="10%" nzAlign="center">可转让金额</th>
      <th nzWidth="10%" nzAlign="center">本次转让金额</th>
      <th nzWidth="8%" nzAlign="center">开票日期</th>
      <th nzWidth="6%" nzAlign="center">校验码</th>
      <th nzWidth="7%" nzAlign="center">查验结果</th>
      <th nzRight nzWidth="10%" nzAlign="center">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listOfAllData; let i = index">
      <td nzAlign="center">{{i + 1}}</td>
      <td nzAlign="center">4300194130</td>
      <td nzAlign="center">04909945</td>
      <td nzAlign="center">增值税专用发票</td>
      <td nzAlign="center">975,251.56</td>
      <td nzAlign="center">894,726.20</td>
      <td nzAlign="center">0.00</td>
      <td nzAlign="center">975,251.56</td>
      <td nzAlign="center">2020-09-23</td>
      <td nzAlign="center"></td>
      <td nzAlign="center">验证成功</td>
      <td nzRight nzAlign="center">
        <a>查看</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div *ngIf="statisticsShow">
      <span class="list-extra-bottom-right">
        总笔数：<span appTextColorTheme>{{listOfAllData.length}}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        票面总金额：<span appTextColorTheme>8,535,251.56</span>元
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        可转让总金额：<span appTextColorTheme>0.00</span>元
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        本次转让总金额：<span appTextColorTheme>8,535,251.56</span>元
      </span>
  </div>
</div>
