<div>
  <nz-table
    nzBordered
    [nzShowPagination]="false"
    [nzData]="listOfAllData"
    [nzLoading]="listLoading"
    [(nzPageSize)]="pageSize">
    <thead>
    <tr>
      <th nzLeft nzWidth="5%" nzAlign="center">序号</th>
      <th nzWidth="30%" nzAlign="left">文档类型</th>
      <th nzWidth="50%" nzAlign="left">文档</th>
      <th *ngIf="actionType === pbillDetailsActionTypeEnum.SUBMIT_SRC && etpType === userTypeEnum.SUPPLIER" nzWidth="15%" nzAlign="center">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listOfAllData; let i = index">
      <td nzAlign="center">{{i + 1}}</td>
      <td nzAlign="left">{{data.annexTypeName}}&nbsp;&nbsp;<span *ngIf="data.uploadStatus" style="color: red">(必传)</span></td>
      <td nzAlign="left">
        <div *ngFor="let file of data.annexFiles">
          <a href="{{file.fileUrl}}" target="_blank">{{file.fileName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <!--项目公司且是待提交状态下，才显示上传附件按钮-->
          <a *ngIf="etpType === userTypeEnum.SUPPLIER && actionType === pbillDetailsActionTypeEnum.SUBMIT_SRC"
             (click)="delAnnexFile(file.id)" appTextColorTheme nz-icon nzType="close" nzTheme="outline"></a>
        </div>
      </td>
      <td *ngIf="actionType === pbillDetailsActionTypeEnum.SUBMIT_SRC && etpType === userTypeEnum.SUPPLIER" nzAlign="center">
        <nz-upload
          [nzAction]="uploadFileUrl"
          [nzShowUploadList]="false"
          [nzBeforeUpload]="beforeUpload()"
          (nzChange)="uploadFileChange($event, data.id)"
        >
          <button nz-button nzType="link" nzSize="small">上传</button>
        </nz-upload>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div>
  </div>
</div>
