<nz-descriptions class="payment-bill-basic-info" nzBordered [nzColumn]="4"  nzSize="small" nzLayout="horizontal">
  <nz-descriptions-item nzTitle="付款单号">{{pbData.pbillNo}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="区域">{{pbData.pbillArea}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="项目公司">{{pbData.subFullName}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="供应商">{{pbData.supplierFullName}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="核心企业">{{pbData.coreFullName}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="付款金额"><span appTextColorTheme>{{pbData.payAmount | number:'1.2-2'}}</span></nz-descriptions-item>
  <nz-descriptions-item nzTitle="款项类型">{{pbData.contractTypeName}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="合同编号">{{pbData.contractCode}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="合同名称">{{pbData.contractName}}</nz-descriptions-item>
</nz-descriptions>

<nz-descriptions class="payment-bill-basic-bank-info" nzBordered [nzColumn]="3"  nzSize="small" nzLayout="vertical">
  <nz-descriptions-item nzTitle="供应商收款户名">{{pbData.supplierAccountName}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="供应商收款开户行">{{pbData.supplierBank}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="供应商收款账号">{{pbData.supplierAccount}}</nz-descriptions-item>
</nz-descriptions>
