<nz-descriptions class="payment-bill-basic-info" nzBordered [nzColumn]="4"  nzSize="small" nzLayout="horizontal">
  <nz-descriptions-item nzTitle="付款单号">801S210518018052</nz-descriptions-item>
  <nz-descriptions-item nzTitle="区域">南通区域</nz-descriptions-item>
  <nz-descriptions-item nzTitle="项目公司">启东合顺房地产开发有限公司</nz-descriptions-item>
  <nz-descriptions-item nzTitle="供应商">南通华荣建设集团有限公司</nz-descriptions-item>
  <nz-descriptions-item nzTitle="核心企业">碧桂园地产</nz-descriptions-item>
  <nz-descriptions-item nzTitle="付款金额"><span appTextColorTheme>2,709,392.01</span></nz-descriptions-item>
  <nz-descriptions-item nzTitle="款项类型">工程款</nz-descriptions-item>
  <nz-descriptions-item nzTitle="合同编号">【南通-南通启东凯旋路碧桂园项目-一期】【总包】【1】【2020】-补1</nz-descriptions-item>
  <nz-descriptions-item nzTitle="合同名称">启东开发区凯旋路南2016地块1#-4#、6#、7#、12#、13#、地下车库（华荣标段）、配电房1、配电房2总承包工程施工合同补充协议（一）</nz-descriptions-item>
</nz-descriptions>

<nz-descriptions class="payment-bill-basic-bank-info" nzBordered [nzColumn]="3"  nzSize="small" nzLayout="vertical">
  <nz-descriptions-item nzTitle="供应商收款户名">南通华荣建设集团有限公司启东分公司</nz-descriptions-item>
  <nz-descriptions-item nzTitle="供应商收款开户行">兴业银行启东支行</nz-descriptions-item>
  <nz-descriptions-item nzTitle="供应商收款账号">408870100100071083</nz-descriptions-item>
</nz-descriptions>
