<nz-card class="card-list" [nzTitle]="setCardTitle()" [nzExtra]="extraTemplate">
  <div class="card-container">
    <nz-tabset
      [nzTabBarGutter]="2"
      [nzTabPosition]="'top'"
      [(nzSelectedIndex)]="tabIndex"
      nzType="card"
      (nzSelectedIndexChange)="tabSwitch()">
      <nz-tab *ngFor="let title of tabTitle" [nzTitle]="title">
        <!--付款单-->
        <div class="payment-bill" *ngIf="title === '付款单'">
          <app-custom-title title="付款单基础信息" isDLineDashed="true"
                            [dLineColor]="themeHelper.getCurrentThemePrimaryColor()"></app-custom-title>
          <app-payment-bill-details-basic [pbData]="pbData"></app-payment-bill-details-basic>

          <!--发票-->
          <div>
            <app-custom-title *ngIf="actionType === pbillDetailsActionTypeEnum.SUBMIT_SRC; else invoice_feed_others"
                              title="发票信息" isDLineDashed="true"
                              [dLineColor]="themeHelper.getCurrentThemePrimaryColor()"
                              extraTip="发票信息有误？" extraActionText="点击反馈"
                              (extraAction)="invoiceComponent.isShowFeedBackModal = true;">
            </app-custom-title>
            <ng-template #invoice_feed_others>
              <app-custom-title title="发票信息" isDLineDashed="true"
                                [dLineColor]="themeHelper.getCurrentThemePrimaryColor()"
                                [(extraTip)]="invoiceIssueTipText" extraActionText="查看"
                                [titleLink]="actionType === pbillDetailsActionTypeEnum.EDIT ? '新增' : null"
                                titleBtnType="primary"
                                (titleClick)="invoiceAdd()"
                                [titleDesc]="actionType === pbillDetailsActionTypeEnum.EDIT
                                 && pbData.paymentBillDbSource === pbillFromTypeEnum.API_INTERFACE ? invoiceTitleDesc : null"
                                (descActionOne)="updatePBInvoiceInfoFromApi()"
                                (extraAction)="invoiceComponent.isShowIssueListModal = true">
              </app-custom-title>
            </ng-template>
            <app-payment-bill-details-invoice [isShowPageChange]="false"
                                              [actionType]="actionType"
                                              [pBillFromType]="pbData.paymentBillDbSource"
                                              [pBillId]="pbData.id"
                                              [statisticsShow]="true"
                                              (moreInvoice)="tabIndex = 1"
            ></app-payment-bill-details-invoice>
          </div>
          <!--供应商不能看项目公司资料-->
          <div *ngIf="etpType !== userTypeEnum.SUPPLIER">
            <app-custom-title title="业务材料-项目公司上传" isDLineDashed="true"
                              [titleDesc]="actionType === pbillDetailsActionTypeEnum.SUBMIT_SRC ? '支持PDF、JPG、PNG等格式文件上传，文件不大于60M' : null"
                              [dLineColor]="themeHelper.getCurrentThemePrimaryColor()"></app-custom-title>
            <app-payment-bill-details-annex-sub [actionType]="actionType"
                                                [pBillId]="pbData.id"></app-payment-bill-details-annex-sub>
          </div>
          <div>
            <app-custom-title title="业务材料-供应商上传" isDLineDashed="true"
                              [dLineColor]="themeHelper.getCurrentThemePrimaryColor()"></app-custom-title>
            <app-payment-bill-details-annex-supplier></app-payment-bill-details-annex-supplier>
          </div>
          <div *ngIf="etpType === userTypeEnum.FACTOR">
            <app-custom-title title="业务材料-保理商上传" isDLineDashed="true"
                              [dLineColor]="themeHelper.getCurrentThemePrimaryColor()"></app-custom-title>
            <app-payment-bill-details-annex-factor></app-payment-bill-details-annex-factor>
          </div>
          <div *ngIf="actionType !== pbillDetailsActionTypeEnum.SUBMIT_SRC">
            <app-custom-title title="补充文件" isDLineDashed="true"
                              [titleLink]="etpType === userTypeEnum.FACTOR ? '上传' : null" titleBtnType="primary"
                              (titleClick)="uploadSupplementAnnex()"
                              [dLineColor]="themeHelper.getCurrentThemePrimaryColor()"></app-custom-title>
            <app-payment-bill-details-supplement [actionType]="actionType"
                                                 [pBillFromType]="pbData.paymentBillDbSource"></app-payment-bill-details-supplement>
          </div>
          <div *ngIf="etpType === userTypeEnum.FACTOR">
            <app-custom-title title="中登相关信息" isDLineDashed="true"
                              [dLineColor]="themeHelper.getCurrentThemePrimaryColor()"></app-custom-title>
            <app-payment-bill-details-zd></app-payment-bill-details-zd>
          </div>
          <div *ngIf="actionType === pbillDetailsActionTypeEnum.SUBMIT_SRC" style="margin-top: 28px;">
            <textarea rows="4" nz-input placeholder="请输入备注" [(ngModel)]="subRemark"></textarea>
          </div>
          <div class="btn-action">
            <button nz-button nzType="default" (click)="backToList()">返回</button>
            <button nz-button nzType="primary"
                    style="margin-left: 20px"
                    *ngIf="actionType === pbillDetailsActionTypeEnum.SUBMIT_SRC"
            >提交
            </button>
          </div>
        </div>
        <!--发票-->
        <div class="financing-invoice" *ngIf="title === '发票列表'">
          <ng-template nz-tab>
            <app-payment-bill-details-invoice [actionType]="actionType" [pBillId]="pbData.id"
                                              [statisticsShow]="false"
                                              [pBillFromType]="pbData.paymentBillDbSource"
                                              [isShowPageChange]="true"></app-payment-bill-details-invoice>
          </ng-template>
        </div>
        <!--操作日志-->
        <div class="financing-log" *ngIf="title === '操作日志'">
          <ng-template nz-tab>
            <app-core-operate-log></app-core-operate-log>
          </ng-template>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</nz-card>

<ng-template #extraTemplate>
  <span style="cursor: pointer;" (click)="backToList()">
    <i nz-icon nzType="rollback" nzTheme="outline"></i>
    <span style="margin-left: 5px;">返回列表</span>
  </span>
  <span style="cursor: pointer;" (click)="exportAnnexs()">
    <a nz-button nzType="link" style="margin-left: 5px;"><i nz-icon nzType="folder" nzTheme="outline"></i>打包导出附件</a>
  </span>
</ng-template>

