<div class="search-layout">
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="null">合同大类</nz-form-label>
      <nz-form-control [nzSpan]="null">
        <nz-select formControlName="agrBigType"
                   nzShowSearch
                   nzPlaceHolder="不限"
                   (ngModelChange)="agrTypeBigSelect($event)"
        >
          <nz-option *ngFor="let agrTypeBig of agrTypeBigListAll" [nzValue]="agrTypeBig.id"
                     [nzLabel]="agrTypeBig.bigName"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>合同类型</nz-form-label>
      <nz-form-control [nzSpan]="null">
        <nz-select formControlName="agrType"
                   nzShowSearch
                   nzPlaceHolder="不限"
                   (ngModelChange)="agrTypeSelect($event)"
        >
          <nz-option *ngFor="let agrType of agrTypeListAll" [nzValue]="agrType.id"
                     [nzLabel]="agrType.typeName"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>合同版别</nz-form-label>
      <nz-form-control [nzSpan]="null">
        <nz-select formControlName="agrSpecify"
                   nzShowSearch
                   nzPlaceHolder="不限"
        >
          <nz-option *ngFor="let specify of agrSpecifyListAll" [nzValue]="specify.id"
                     [nzLabel]="specify.specifyName"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>合同名称</nz-form-label>
      <nz-form-control [nzSpan]="null">
        <input nz-input formControlName="agrName" placeholder="请输入"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>模板状态</nz-form-label>
      <nz-form-control [nzSpan]="null">
        <nz-select formControlName="agrTemplateStatus"
                   nzPlaceHolder="不限"
                   nzAllowClear
                   [nzDisabled]="selectAgrFlag"
        >
          <nz-option *ngFor="let status of agrTemplateStatus" [nzValue]="status.dictValue" [nzLabel]="status.dictLabel"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item [hidden]="isCollapse">
      <nz-form-label [nzSpan]="null">版本号</nz-form-label>
      <nz-form-control [nzSpan]="null">
        <input nz-input formControlName="agrVersion" placeholder="请输入"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin-left: 5px;">
      <nz-form-control>
        <button nz-button [nzType]="'primary'" (click)="search()"><i nz-icon nzType="search" nzTheme="outline"></i>搜索</button>
        <button nz-button (click)="resetSearchForm()" style="margin-left: 8px">重置</button>
        <a class="collapse" (click)="toggleCollapse()">
          {{isCollapse ? '展开' : '收起'}}
          <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
        </a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
