// 自定义滚动条样式
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: hsla(0,0%,58.8%,.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50,50,50,.3);
}

//nz-form-control {
//  min-width: 550px;
//}
