<div class="info-line-title">
  <nz-divider nzType="vertical"></nz-divider>
  <span>协议模板设定列表</span>
  <button *ngIf="showType === 1" (click)="createAgrComponentModal()"
          nz-button nzType="primary"
          nzSize="default" style="margin-left: 20px;"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>选择模板
  </button>
  <button style="float: right" *ngIf="showType === 1" (click)="save()"
          [disabled]="!showSaveBtnVisible()"
          nz-button nzType="primary"
          nzSize="default" style="margin-left: 20px;"
  >
    <i style="margin-right: 0px" nz-icon nzType="save" nzTheme="outline"></i>保存
  </button>
</div>
<nz-table nzBordered nzTemplateMode
          [nzLoading]="listAgreementLoading">
  <thead>
  <tr>
    <th nzWidth="5%" nzAlign="center">序号</th>
    <th nzWidth="18%" nzAlign="center">协议名称</th>
    <th nzWidth="15%" nzAlign="center">协议大类</th>
    <th nzWidth="15%" nzAlign="center">协议类型</th>
    <th nzWidth="10%" nzAlign="center">协议类别</th>
    <th nzWidth="18%" nzAlign="center">签章角色</th>
    <th nzWidth="7%" nzAlign="center">分组</th>
    <th nzWidth="7%" nzAlign="center">排序</th>
    <th *ngIf="showType === 1" nzWidth="5%" nzAlign="center">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="listAgreementOfAllData && listAgreementOfAllData.length === 0">
    <td colspan="9">
      <nz-embed-empty nzComponentName="table"></nz-embed-empty>
    </td>
  </tr>
  <tr *ngFor="let data of listAgreementOfAllData; let i = index">
    <td nzAlign="center">
      <div class="new-tip" *ngIf="!data.id">新</div>
      {{i + 1}}
    </td>
    <td nzAlign="center">
      <a class="link-download" (click)="openTemplateFile(data.agrFileId)" target="_blank">{{data.agrName}}</a>
    </td>
    <td nzAlign="center">{{data.agrTypeBig}}</td>
    <td nzAlign="center">{{data.agrType}}</td>
    <td nzAlign="center">{{data.agrTypeSpecify}}</td>
    <td nzAlign="center">
      <nz-checkbox-group [(ngModel)]="data.signRoles"></nz-checkbox-group>
    </td>
    <td nzAlign="center">
      <nz-input-number class="list-input-number" nzSize="small"
                       [(ngModel)]="data.groupSort"
                       [nzMin]="1"
                       [nzMax]="10"
                       [nzStep]="1"
                       [nzDisabled]="showType === 2"
                       (ngModelChange)="reSortList()"
      >
      </nz-input-number>
    </td>
    <td nzAlign="center">
      <nz-input-number class="list-input-number" nzSize="small"
                       [(ngModel)]="data.internalSort"
                       [nzMin]="1" [nzMax]="10"
                       [nzStep]="1"
                       [nzDisabled]="showType === 2"
                       (ngModelChange)="reSortList()"
      >
      </nz-input-number>
    </td>
    <td *ngIf="showType === 1" nzAlign="center">
      <a nz-button nzType="link" (click)="del(data.id, data.agrTemplateId)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
